---
import Container from "@components/shared/Container.astro";
import { Image } from "astro:assets";
import image from "@assets/image.webp";
---

<div class="py-16">
  <Container>
    <section
      class="flex flex-col md:flex-row items-center justify-center md:justify-between mb-8 gap-8"
    >
      <div
        class="w-full gap-8 md:w-1/2 flex text-center md:text-left items-center md:items-start justify-center delay-[20ms] duration-[400ms] taos:translate-y-[50%] lg:taos:translate-x-[-50%] taos:opacity-0"
        data-taos-offset="200"
      >
        <span class="text-4xl md:text-6xl text-blanco font-bold leading-snug">
          SeamLess age-
          <br />
          appropriate
          <br />
          experiences
        </span>
      </div>

      <div
        class="w-full md:w-1/2 flex flex-col items-center md:items-start justify-center md:justify-start delay-[20ms] duration-[400ms] taos:translate-y-[50%] lg:taos:translate-x-[50%] taos:opacity-0"
        data-taos-offset="200"
      >
        <p class="text-blanco/80 text-base leading-relaxed text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
          labore consequatur rem soluta non. Maxime inventore distinctio dolorum
          omnis hic cum magni accusantium unde molestias explicabo libero, rem
          saepe itaque culpa iste animi quas et blanditiis. Aliquid cumque
          ducimus maiores!
        </p>
        <a
          href="#"
          class="p-4 bg-blanco text-purple-950 rounded-xl transition-all ease-in hover:text-lightPurple font-semibold mt-4 hover:bg-blanco/90"
          >Learn More</a
        >
      </div>
    </section>

    <div
      class="w-full items-center justify-center flex py-2 delay-[20ms] duration-[400ms] taos:translate-y-[50%] taos:opacity-0"
      data-taos-offset="200"
    >
      <Image
        src={image}
        alt="Seamless"
        class="w-full md:w-1/3 mx-auto shadow-xl rounded-xl"
      />
    </div>
  </Container>
</div>
